.compose {
    height: 90vh;
    width: 70%;
    border: 1px solid lightcoral;
    border-radius: 5px;
}

.compose-header{
    background-color: #171717cc;
    color: white;
    padding: 10px;
    border-radius: 5px;

}
.compose-form {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 1.7rem;
    width: 100%;
}

input[type=text].input-name {
    margin: 0;
}

.compose-input {
    border: none;
    border-bottom: 1px solid lightcoral;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0);
    margin: 0;
    padding: 10px;
    font-size: 0.7em;
    outline: none;
}

.compose-form textarea{
    height: 60%;
    border: none;
    resize: none;
}

.send-btn {
    background-color: rgb(253, 211, 211);
    border: 1px solid lightcoral;
    border-radius: 10px;
    width: 6rem;
    color: black;
    padding: 2px;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    outline: none;

}

.send-btn img {
    margin-right: 5px;
    margin-bottom: 5px;
    width: 1rem;
}

.send-btn:hover {
    background-color: rgb(250, 160, 160);
}

.compose-btn-container{
    display: flex;
    justify-content: space-between;

}
.draft-btn{
    background-color: rgb(253, 211, 211);
    border: 1px solid lightcoral;
    border-radius: 10px;
    color: black;
    padding: 8px;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    align-items: center;
    margin-right: 10px;
    outline: none;
}