.compose {
    height: 90vh;
    width: 70%;
    border: 1px solid lightcoral;
}

.form-header{
    background-color: #171717cc;
    color: white;
    padding: 10px;
}
.form-review {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 1.7rem;
    width: 100%;
}

input[type=text].input-name {
    margin: 0;
}

.input-text {
    border: none;
    border-bottom: 1px solid lightcoral;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0);
    margin: 0;
    padding: 10px;
    font-size: 0.7em;
    outline: none;
}

.form-review textarea{
    height: 60%;
    border: none;
    resize: none;
}

.add-btn {
    background-color: rgb(253, 211, 211);
    border: 1px solid lightcoral;
    border-radius: 10px;
    width: 6rem;
    color: black;
    padding: 5px;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px
}

.add-btn img {
    margin-right: 5px;
    margin-bottom: 5px;
    width: 1.5rem;
}

.add-btn:hover {
    background-color: rgb(250, 160, 160);
}

