.email-app{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    flex-direction: column;
}

.main-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
