.email-details{
    width: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.438);
    border:1px solid lightcoral;
    padding: 20px;
    margin-left:30px ;
}

.email-details h2{
    border-bottom: 1px solid lightcoral;
    padding: 10px;
}
.email-name{
    display: flex;
    flex-direction: row;
}