
.email-app{
    background-image: url('../../../../img/email/bcg4.jpg');
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    flex-direction: column;
    font-family: openSans;

}

.main-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
