.email-preview-container {
    border-bottom: 1px solid lightcoral;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.email-preview-container img::selection{
    background: none;
}

.read-envelope-img {
    height: 1.5rem;
    margin-left:20px;
}

.name-preview{
    display: flex;
    width: 60%;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}
.name-preview h3{
    margin-right: 13px;
}
.name-preview h4{
    font-weight: 400;
}
.date-preview{
    display: flex;
    justify-content: flex-end;
    width: 40%;
    font-size: 1.3rem;
    align-items: center;

}
.preview-info{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    align-items: center;

}
.small-info-container{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    flex-direction: column;
}
.email-name-line{
    display: flex;
    justify-content: space-between;
}
.email-name-line h4{
    margin-right: 20px
}
.email-name-line span{
    color: grey;
}
.email-name-line img{
    width: 1.5rem;
    height: 1.5rem;
}
.email-name-details{
    display: flex;
    padding: 15px;
    justify-content: space-between;
}
.email-name-details h4,span{
    font-size:1.2rem
}
.small-info-container{
    cursor: default;
}
.small-info-container img{
    cursor: pointer;
}

.clicked{
    background-color: rgb(240, 236, 236);    
}
.star{
    height: 1.5rem;
    margin-right:20px;
} 

@media (max-width: 750px) {
 .email-preview-container{
     max-width: 80vh;
 }
}

.small-info-container p{
    font-size:1.2rem;
}