.email-preview-container {
    border-bottom: 1px solid lightcoral;
    width: 100%;
    display: flex;
    /* margin: 10px; */
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.email-preview-container img::selection{
    background: none;
}

.read-envelope-img {
    height: 1.5rem;
}

.name-preview{
    display: flex;
    width: 60%;
    display: flex;
    align-items: center;
}
.name-preview h3{
    margin-right: 10px;
}
.name-preview h4{
    font-weight: 400;
}
.date-preview{
    display: flex;
    justify-content: space-between;
    width: 40%;
}
.preview-info{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;

}
.small-info-container{
    display: flex;
    height: 12rem;
    padding: 20px;
    justify-content: space-between;
    flex-direction: column;
}
.email-name-line{
    display: flex;
    justify-content: space-between;
}
.email-name-line h4{
    margin-right: 20px
}
.email-name-line span{
    color: grey;
}
.email-name-line img{
    width: 1.5rem;
    height: 1.5rem;
}
.email-name{
    display: flex;
    padding: 20px;
    justify-content: space-between;
}
.small-info-container{
    cursor: default;
}
.small-info-container img{
    cursor: pointer;
}

.clicked{
    background-color: rgb(240, 236, 236);    
}