
.email-app{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    flex-direction: column;
    font-family: openSans;
}
.email-background{
    background-image: url('../../../../img/email/bcg4.jpg');
    min-height: 100vh;
}

.main-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


@media (max-width: 750px) {
    .main-info{
        width: 100%
    }
    .email-app{
        padding-top: 20px;
    }
  
}