.side-bar {
    display: flex;
    max-width: 25%;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
    font-size:1.3rem
}



.side-bar-options {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.side-bar-options img {
    width: 2rem;
    height: 2rem;
    margin: 10px;
}

.opt {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
}


.opt:hover {
    background-color: rgb(216, 214, 214);
    border-radius: 0 30px 30px 0;
}

.unread {
    padding: 5px;
    border: 1px solid lightcoral;
    border-radius: 10px;
    border-radius: 10px;
    width: 100%;
    margin-top: 5px;
}

.side-bar a {
    width: 100%;
}

.side-bar a:active {
    background-color: rgba(255, 0, 0, 0.315);
}
/* .active{
    background-color: rgba(255, 0, 0, 0.315);
    border-radius: 0 30px 30px 0;
} */


/* .router-link-active {
    background-color: rgba(255, 0, 0, 0.315);
    border-radius: 0 30px 30px 0;
} */
/* .router-link-active:hover {
    background-color: rgba(255, 0, 0, 0.315);
    border-radius: 0 30px 30px 0;
} */

.delete{
   padding: 4px;
}
