.note-list {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12,calc(100%/12));
    grid-auto-rows: 50px;
    grid-gap: 5px;
    /* grid-auto-flow: dense; */
}

.note-list a {
    text-decoration: none;
    color: black;
}
.list-item {
    grid-column: span 3;
    grid-row: span 2;
}

.txt{
    grid-column: span 3;
    grid-row: span 2;
}

