.note-filter-input {
    border: 1px solid lightcoral;
    background-color: rgba(255, 220, 220, 0.514);
    border-radius: 10px;
    min-height: 47px;
    font-size: 1.3rem;
    outline: none;
}

.filter-select {
    border: 1px solid #F08080;
    background-color: rgba(255, 220, 220, 0.527);
    color: black;
    outline: none;
    font-size: 1.3rem;
    min-height: 47px;
    border-radius: 10px;
}

@media (max-width: 450px) {
    .note-filter-input {
        width: 80%;
    }
    .filter-select {
        width: 80%;
    }
    .note-filter{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
}

.filter-select option {
    background-color: rgba(240, 128, 128, 0.178);
    color: rgb(0, 0, 0);
}

/* @media (max-width: 350px) {
    .note-filter {
        display: flex;
        flex-direction: column;
    }
} */