body{
    height: 100vh;
}
.add-note {
    border: 1px solid #F08080;
    background-color: rgba(255, 220, 220, 0.596);
    border-radius: 10px;
    font-size: 1.5rem;
    padding: 7px;
}

.add-note:hover {
    background-color: rgb(231, 202, 202);
}

.add-note:active {
    color: white;
}

.top-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 550px) {
    .top-wrapper {
        flex-direction: column;
    }
}